<p>
  applied.

I'll just take out be routed and links so this applies the active class and will just do the same for

the third one.

A dash router link.

And this one's go into our messages.

And once again I'll just cut this and paste it after our NAV item and just take out the active.

In this case and will just up one more root linked to the the the top as well so we can get back home

and just do the same again.

Say a ashrita link and we'll set this to home and we won't use an active link on this one.

And we should be in a position now to go and tests that take a look and see how we're doing.

And if I hover over the matches.

If you look in closely it's kind of small and then text.

But we can see this is pointing to local host slash members.

And same for lists.

And same for messages.

And if I click on matches well nothing happens but we do see the u r l change at the top.

And same for lists and same for messages.

And we've got our active links as well when we click around these but nicely being taken anywhere.

And that's because we haven't quite finished setting up our router yet.

So back in veres Codes we'll go to our app component hagues t email and inside here.

We're one of a swap this at home for a router outlets so ugly at home and I'll say router outlets and

effective the one we click on one of our router links.

This is swapped for our component and our component displays inside here.

So let's head back to our browser and wander messages link and I'm seeing messages works for click on

lists.

I can see list works and I can see member list works as well.

And if I click on Home I get taken to the home page so we don't just want to use rooting in our links

at the top here.

We also want to be able to route our users within our components as well.

So next up we're going to take a look at how we can make use of our routing functionality inside our
</p>
